apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-webui
  labels:
    app: elasticsearch-webui
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: elasticsearch-webui
