apiVersion: v1
kind: Service
metadata:
  name: dataloader-service
  labels:
    app: dataloader-service
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: dataloader-service
---
# NodePort service for external access
apiVersion: v1
kind: Service
metadata:
  name: dataloader-service-nodeport
  labels:
    app: dataloader-service
spec:
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30800
      protocol: TCP
      name: http
  selector:
    app: dataloader-service
