apiVersion: v1
kind: Service
metadata:
  name: dataloader-service
  labels:
    app: dataloader-service
spec:
  type: LoadBalancer
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: dataloader-service
